<div class="portfolio-container">
  <div class="nav">
    <!-- <app-navbar></app-navbar> -->
  </div>
  <div class="portfolio-content">
    <div class="content_title">
      作品分享
      <hr>
    </div>
    <div class="companywork">
      <app-imagecard *ngFor="let work of works" (click)="navigateToPhotoDetail(work.name)" [imageUrl]="work.imageUrl"
        [title]="work.name" [subtitle]="work.subtitle"></app-imagecard>
    </div>
  </div>
  <!-- <div class="portfolio-footer">
        <app-footer></app-footer>
    </div>
    <div class="copyright">©2025 ye-shun company copyright</div> -->
</div>
