<div class="book-container">
  <ng-container *ngIf="isSinglePage && currentPageIndex === 0; else doublePage">
    <div class="single-page">
      <img [src]="getLeftPage()" alt="First Page" />
    </div>
  </ng-container>
  <ng-template #doublePage>
    <div class="double-page-container">
      <div [@flipLeft]="leftFlipState" class="left-page-container">
        <div class="front-page">
          <img [src]="getLeftPage()" alt="Left Page" />
        </div>
        <div class="back-page">
          <img *ngIf="currentPageIndex > 0" [src]="pages[currentPageIndex - 1]" alt="Left Back Page" />
        </div>
      </div>
      <div [@flipRight]="rightFlipState" class="right-page-container" *ngIf="getRightPage()">
        <div class="front-page">
          <img [src]="getRightPage()" alt="Right Page" />
        </div>
        <div class="back-page">
          <img [src]="getLeftPage()" alt="Right Back Page" />
        </div>
      </div>
    </div>
  </ng-template>
</div>